@model IEnumerable<SignalRChatApp.Models.Users>
<div class="col-md-2">

</div>

<div class="col-md-8">

    
    <table class="table">
        <thead>
            <tr>
                <th>
                   List Of User Name
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Chatbox" class="btn btn-default" asp-route-id="@item.Id">Send Message</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="col-md-2">

</div>